@font-face {
    font-family: headerfont;
    src: url("/static/fonts/Aclonica-Regular.ttf");
}

html{
    font-family: Helvetica;
    overflow-x: hidden;
}


header, footer{
    font-family: headerfont;
    font-style: normal;
    font-size: small;
    background-color:#212529;
    margin-top: 0px;
    margin-bottom: 0;
    display: block;
}

.khalilogo{
    width: 150px;
    height: 70px;
    margin-left: 20px;
}

.nav-li{
    margin-right: 15px;
    border-bottom-style: none;
}

.nav-li:after {
    display:block;
    content: '';
    border-bottom: 3px solid;
    padding-bottom: 2px;
    border-bottom-color: rgb(250, 197, 23);
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.nav-li:hover:after{
    transform: scaleX(1);
}

.featurette{
    /*padding-left: 30px;
    padding-right: 30px;
    /*padding-bottom: 40px;*/

}

.carousel-item > img{ 
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
.carousel-caption {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
*/
