{% extends 'base.html' %}

{% block head %}
<title>BOOKING</title>
{% endblock %}

{% block body %}
<section>
    <div class="container py-5">
        <div class="text-center mb-1 text-white">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <img class="me-3" src="/static/images/bk.svg" width="58" height="48">
                    <h1 class="text-black">Book Us For Your Next Photoshoot Or Event.</h1>
                    <h6 class="text-black">Go On! Choose Quality. Choose Khaligraphy.</h6>
                </div>
            </div>
        </div>



        
    </div>
</section>
{% endblock %}