{% extends 'base.html' %}

{% block head %}
<title>CONTACT US</title>
{% endblock %}

{% block body %}
<section>
    <div class="container py-5">
        <div class="text-center mb-1 text-white">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <img class="me-3" src="/static/images/cont.svg" width="58" height="48">
                    <h1 class="text-black">Need Enquiries? Contact Us.</h1>
                    <h6 class="text-black">Send Us An Email, Text Us On WhatsApp Or Give Us A Call.</h6>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}