{% extends 'base.html' %}

{% block head %}
<title>Gallery</title>
{% endblock %}

{% block body %}
<section>
    <div class="scroll-container">
        <div class="container px-4 py-5" id="custom-cards">
            <!--<h2 class="pb-2 border-bottom">Gallery</h2>-->

            <div class="text-center mb-5 text-white">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <img class="me-3" src="/static/images/gal.svg" width="58" height="48">
                        <h1 class="text-black">Take A Look At Some Of Our Beautiful Shots.</h1>
                        <h6 class="text-black">Find More Amazing Shots On Our Instagram Page.</h6>
                    </div>
                </div>
            </div>

            <!--
            <div class="d-flex align-items-center p-3 my-0 text-white bg-purple rounded shadow-sm page-head">
                <img class="me-3" src="/static/images/image.svg" width="48" height="38">
                <div class="lh-1">
                    <h1 class="h3 mb-0 text-black lh-1">GALLERY</h1>
                        <small>Since 2011</small>
                </div>
            </div>
            -->
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-1">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c1.jpg" id="gall-img">
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c5.jpg" id="gall-img">
                    </div>
                </div>

                <!--
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill"></use>
                            </svg>
                            <small>California</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <small>5d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        -->
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c3.jpg" id="gall-img">
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c4.jpg" id="gall-img">
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c11.jpg" id="gall-img">
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c6.jpg" id="gall-img">
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c7.jpg" id="gall-img">
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c8.jpg" id="gall-img">
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c9.jpg" id="gall-img">
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c10.jpg" id="gall-img">
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c2.jpg" id="gall-img">
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-color: gray;">
                        <img src="/static/images/gallery/c13.jpg" id="gall-img">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}